/* ------------------------------------------------------- */
/* --------------first section- who am i----------- */
/* ---------------------------------------------------------- */

/* All nav items */
/* ----------------------------------- */
/* the website icon when first load */

.thea
{
    animation: fadeInAnimation ease 3s;
}
/* when hovering over the website icon */

.thea:hover
{
    animation: shake 3s;
    animation-iteration-count: infinite;
}
/* navbar item setting */

.nav_items
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    animation: fadeInAnimation ease 10s;
}
/* settings for the About word in navbar */

#about
{
    padding-right: 25;
    color:rgb(24, 9, 78);
}
/* skills and tools words settings in the vanbar */

#skillsandtools
{
    padding-right: 25;
    color: thistle;
}
/* work word setting in navbar */

#work
{
    padding-right: 25;
    color: rgb(3, 70, 12);
}
/* contact word setting in the navbar */

#contact
{
    padding-right: 25;
    color:springgreen;
}
/* resume word setting in the navbar */

#resume
{
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 20;
    padding-top: 2;
    padding-bottom: 2;
    margin-top: 3;
}
/* when hovering over the resume button in the navbar */

.btn:hover
{
    background-color: rgb(7, 162, 173);
}
/* settings of the main container that contains the first section- which include the name and what i do */

.name
{
    padding-left: 15%;
    padding-top: 15%;
    background-color: #48d8a4;
    padding-bottom: 15.2%;
}
/* setting of the "Hi, my name is" */

.myname
{
    animation: fadeInAnimation ease 10s;
    font-family: 'Supermercado One', cursive;
    color: rgb(2, 2, 43);
}
/* my name (ali) setting- settings of the Ali Joron  */

.ali
{
    animation: fadeInAnimation ease 3s;
    font-family: 'Supermercado One', cursive;
    font-size: 7vw;
    color: wheat;
}
/* settings of the "I build things for the web." sentence */

.do
{
    animation: fadeInAnimation ease 15s;
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
}
/* what i do paragraph settings */

.me
{
    animation: fadeInAnimation ease 15s;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}
/* first section image settings- that run left and right */

.webpic
{
    animation: shaky 5s infinite ease-in-out;
}
/* ------------------------------------------------------- */
/* --------------second section- About Me----------- */
/* ---------------------------------------------------------- */

/* settings of the main about container- that contains cards */

.about
{
    background-color:#f6e6e0;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

/*settings of the cards that exists in the second section - when hovering over*/

.card:hover
{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(8, 72, 116, 0.938), 0 4px 8px hsla(187, 97%, 47%, 0.959);
    transition:  0.4s;
}

/* ------------------------------------------------------- */
/* --------------third section- skills and tools----------- */
/* ---------------------------------------------------------- */

/* settings of the main container that contains the third section- skills and tools */

.skills
{
    background-color: #eeb4aa;
    padding-left: 15%;
    padding-top: 6%;
    
}

/* setting of the first title in the skills and tools section */

.skills_work_title
{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

/* setting of the second titls in the skills and tools section */

.skills_work_title2
{
    color: #1c2273;
    font-family: "Crimson Text", serif;
    font-size: 2.1em;
}

/* settings of the paragraph (line) in the skills and tools section */

.skills_p_title
{
font-size: 1.2em;
line-height: 1.55;
padding-right: 10%;
}

/* settings of the container that contains the icons in the skills and tools section */
.icon_box
{
    text-align: center;
    padding-right: 20%;

}

/* setting of the icons (the image) */

.icon_image
{
    color: white;
    font-size: 6em;
    height: 1em;
}

/* setting of the icons names (that comes under each icon) */

.icon_name
{
    
    font-size: 1em;
    font-family: "Mada", sans-serif;
    color: #656565;
}

/* ------------------------------------------------------- */
/* --------------fourth section- the contact section----------- */
/* ---------------------------------------------------------- */

.work
{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 20%;
    background-color: #7689d8;
    padding-bottom: 1%;
}
.work_img
{
    width: 80%;
    height: 90%;
    position: inherit;
}

.align_right
{
    text-align: right;
}
.work_title
{
font-size: 2.5rem;
font-weight: 600;
line-height: 1.3;
color: #eeb4aa;
font-family: "Crimson Text", serif;
}

.work_p
{
line-height: 1.55;
font-size: 1rem;
color: #252525;
font-family: "Mada", sans-serif;

}
.work_btn
{
    width: 100%;
    transition: 1s ease-in-out;
}
.work_btn:hover
{
    background-color: #f48480;
    padding: 3% 12%;
    transition: 1s;
    color: white;
    font-size: 1.3em;
    padding-right: 17%;
}
.work_icons
{
    color: black;
    font-size: 2em;
    padding-bottom: 5%;
    padding-left: 5%;
}

/* ------------------------------------------------------- */
/* --------------fourth section- the contact section----------- */
/* ---------------------------------------------------------- */

/* setting of the main container in the fifth section (contact section) */

.contact
{
    padding-left: 15%;
    padding-top: 6%;
    background-color: #fef2d8;
}

/* first title ("contact") in the contact section */

.contact_word
{
    color: #1c2273;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    padding-bottom: 2%;
}

 /* settings of the contact me paragraph (line) */

.contact_p
{
    color: #252525;
    font-family: "Mada", sans-serif;
    line-height: 2;
}

/* settings of the word "hear" that exists in the former line (the word hear is an anchor that is linked with mailto "alijoron@outlookcom") */

.mail
{
    text-decoration: none;
    color:deeppink;
}

#contactme
{
    padding-bottom: 8%;
}

.contactboxes
{
    width: 90%;
    font-size: 150%;
    padding-left: 2%;
    color: #2EB086;
    box-shadow: 2px 2px #219F94;
    border: 2px solid rgba(72, 216, 164, 0);
    margin-bottom: 5%;
}

#message
{
    height: 40%;
}
/* settings of the icons that exists in the contact section (github,instagram,facebook,linkedin) */
#subbtn
{
    background-color : #219F94;
    font-family: "Crimson Text", serif;
    padding: 3% 10%;
    font-size: 1.2em ;
    border: none;
    line-height: 1;
    font-weight: bold;
    display: ruby;
    transition: 1s;
    
}
#subbtn:hover
{
    background-color: #f48480;
    padding: 3% 12%;
    transition: 1s;
    color: white;
    font-size: 1.3em;
    padding-right: 17%;

}

/* .send_icon
{
 padding-left: 20%;
 width: 85%;
 
} */

.contact_item
{
    color: #394ff4;
    padding-left: 5%;
}

/* settings of the icons that exists in the contact section (github,instagram,facebook,linkedin) when hover over */

.contact_item:hover
{
    transition-delay: 0.3s;
    color: #f0535d;
    animation-name: shake;
    animation-duration: 0.09s;
    animation-delay: 0.3s;
   
}

/* ------------------------------------------------------- */
/* --------------the final section of the website that contains the credits----------- */
/* ---------------------------------------------------------- */

/* the final section in the website is built of two seperated sections with the same background-color,
the credit is the main container of the first section */

.credit
{
    padding-left: 15%;
    padding-top: 6%;
    background-color: #ffcebf;
}

/* the settings of the "How i made a an awesome website" sentence */

.attribute_title
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: #e22e3a;
}

/* the settings of the paragraph (line) in the first section of the final section  */

.attribute_p
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: crimson;
}

/* the settings of "Flaticon attribution" sentence */

.attribute_title2
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    padding-bottom: 5%;
    margin-bottom: 0%;
}

/* this is the secons section of the final section,
carcontain indicates the settigns of the container that contains the carousel (the only way to change the size) */

.carcontain
{
    width: 30%;
    background-color: #ffcebf;
}

/* the settings of the images in the carousel */

.attpic
{
    
    padding-bottom: 50%;
    width: 70% !important;
    padding-left: 30%;
    animation: shake 5s;
    animation-iteration-count: infinite;
}

/* the settings of the label written in the carousel under each image */

.attlabel
{
    text-decoration: none;
    color: #05158d;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1.3em;
    animation: fadeInAnimation 5s;
}

/* the settings of the next arrow (on the right) in the carousel */

.control_next
{
    
    font-size: 3vw;
    color: #05158d;
    font-weight: bolder;
}

/* the settings of the next arrow (on the right) in the carousel when hovering over*/

.control_next:hover
{
    color: #f0535d;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
}

/* the settings of the previous arrow (on the left) in the carousel */

.control_prev
{
    font-size: 3vw;
    color: #05158d;
    font-weight: bolder;
}

/* the settings of the previous arrow (on the left) in the carousel when hovering over*/

.control_prev:hover
{     
    color: #f0535d;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
}

/* this is how i canceled settings of the carousel,
(when hovering over sometimes it show another color that is the default and now it show the color that o chose) */

.carousel-control-next, .carousel-control-prev
{
opacity: 100;
}

/* ------------------------------------------------------- */
/* --------------functions initilizations ----------- */
/* ---------------------------------------------------------- */

/* initilization of the fadeinanimation (function) */
@keyframes fadeInAnimation
 {
    0%
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
        
    }
}

/* initilization of the shake animation (function) */

@keyframes shake
{
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* initilization of the shaky animation (function) */

@keyframes shaky
{
    10%{transform: translateX(1em)}
    20%{transform: translateX(-1em);}
}

/* initilization of the media breakpoint */

 @media (max-width:995px) 
{
    #subbtn:hover
    {
        padding-right: 25%;
    }
    .carcontain
    {
        width: 70%;
    }
    #contactme
    {
        padding-left: 10%;
    }

    /* contact container in small screens */

    .contact
    {
        padding-bottom: 5%;
    }

    /* contact icons in small screens */

    .contact_icons
    {
        margin-top: 25%;
        font-size: 80%;
    }
    
    /* skills section title */
    
    .skills_title
    {
        font-size: 22px;
    }

    /* skills section */

    .skills
    {
        padding-left: 10%;
    }

    /* skills paragraph title */

    .skills_p_title
    {
        font-size: 1.1em;
    }

    /* the slides left arrow */

    .control_prev
    {
        font-size: 5vw;
    }

    /* the slides right arrow */

    .control_next
    {
        font-size: 5vw;
    }

    /* change buttons sizes in the work section */

    .work_btn
    {
        margin-bottom: 10%;
        font-size: 1em;
    }

    /* change the size of the work section buttons when hover in small screens */

    .work_btn:hover
    {
        
        font-size: .9em;
    }

    /* work section title */

   .work_title
   {
       font-size: 1.5em;
   }
   
   /* work section paragraph  */

   .work_p
   {
       font-size: 1em;
   }

   /* turtle icon in the work section */

   .work_turtle_icon
   {
       margin-bottom: -1%;
   }
   
   /* first container */

   .name
   {
       padding-top: 20%;
   }

   /* moving pic in the first section */

   .webpic
   {
       height: 7em !important;
       width: 8em !important;
   }
}

/* for phones with max width of 450px */

@media (max-width:450px) 
{
    .work_img
    {
        height: 50%;
    }
}

